<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragment :: head"></head>
<body>

<div id = "body">
    <h1 class = event-title>Add ToDo To List</h1>
    <form method = "post" class = "must" th:object="${toDos}">

        <div id = "title" class = "add-form">
            <label th:for="*{title}">Title</label>
            <input th:field="*{title}" type = text class = "add-form-control" />
        </div>
        <br>
        <div id = "startdate" class = "add-form">
            <label th:for="*{day}">Day ToDo On</label>
            <input th:field="*{day}" type = "date" id = "start_date" />
        </div>

        <div id = "starttime" class = "add-form">
            <label th:for="*{time}">Time ToDo At</label>
            <input th:field="*{time}" type = "time" id = "start_time" />
        </div>
        <br>

        <div id = "enddate" class = "add-form">
            <label th:for="*{completed}">Completed?</label>
            <input th:field="*{completed}" type = "checkbox" id = "end_date" />
        </div>

        <br>
        <br>
        <br>
        <br>
        <div class = "submitbutton">
            <input class = "button" type = "submit" value = "Save ToDo" />
        </div>
    </form>
</div>
<br>
<br>
<br>
<br>
<footer th:replace="fragment :: footer"></footer>
</body>
</html>